@import url('css/base.css');
@import url('css/navigation.css');
@import url('css/components.css');
@import url('css/landing.css');
@import url('css/auth.css');
@import url('css/dashboard.css');
@import url('css/analytics.css');
@import url('css/responsive.css');
@import url('css/profile.css');
